.sideContent{
    height: 100vh;
    overflow-y: hidden;
}
  
/* Floating Button Styling */
.floating-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1050;
  font-size: 18px;
}
  
  @media (min-width: 768px) {
    .floating-btn {
      display: none; /* Hide floating button on larger screens */
    }
  }
  