/* Side Content Styles */
.sideContent {
  height: 100vh;
}

[data-bs-theme="dark"].accordion-body{
  background-color: #19202b;
}

[data-bs-theme="light"].accordion-body{
  background-color: #FEFFFE;
}

/* Optional: Remove the shadow effect on focus */
.accordion-button:focus {
  box-shadow: none;
  outline: none;
}

/* Light Theme Styles */
[data-bs-theme="light"] .accordion-button {
  background-color: #FEFFFE; /* Light background */
  color: #212529; /* Dark text */
}

[data-bs-theme="light"] .accordion-button:not(.collapsed) {
  background-color: #FEFFFE; /* Light gray when expanded */
  color: #212529; /* Dark text */
  border-color: #dee2e6; /* Light border */
}

/* Dark Theme Styles */
[data-bs-theme="dark"] .accordion-button {
  background-color: #19202b; /* Dark background */
  color: #fff; /* White text */
}

[data-bs-theme="dark"] .accordion-button:not(.collapsed) {
  background-color: #19202b; /* Same dark background */
  color: #fff; /* Ensure text color remains consistent */
  border-color: rgb(36, 36, 36); /* Dark border */
}

/* Floating Button Styling */
.floating-btn {
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1050;
  font-size: 25px;
}

@media (min-width: 768px) {
  .floating-btn {
    display: none; /* Hide floating button on larger screens */
  }
}

/* Link and Button Styles */
.content-link:hover {
  color: #fff;
  background-color: #5738dfc9;
}

.content-link.active {
  color: #fff;
  background-color: #5738dfc9;
}
