.navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
}

.navbar,
.offcanvas {
  background-color: #1f2836 !important; /* Force Bootstrap color */
  color: #fff;
}

a.nav-link-custom {
  line-height: 20px;
  font-size: medium;
  font-weight: 600;
  border-radius: 5px; /* Add slight rounding for consistency */
  padding: 0.5rem 1rem; /* Add padding for better spacing */
  transition: background-color 0.2s ease-in-out; /* Smooth transition */
}

a.nav-link-custom:hover,
a.nav-link-custom.active,
a.nav-link-custom:focus,
a.nav-link-custom:active {
  background-color: #5738dfc9; /* Set background color on hover and active */
  color: white !important; /* Ensure text color stays white */
}

/* Button styling */
.btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  border: none;
  background-color: #363f4d;
}

.btn:hover {
  background-color: #5738dfc9; /* Purple background on hover */
}

.btn i {
  color: white;
  transition: color 0.3s ease;
}

.btn:hover i {
  color: white;
}

/* Offcanvas transitions */
.offcanvas {
  transition: transform 0.5s ease;
  transform: translateX(-100%);
  max-width: 80vw;
  padding: 1rem;
}

.offcanvas.show {
  transform: translateX(0);
}

.custom-title-border:hover {
  border-right: 2px solid #5738dfc9 !important;
  border-bottom: 2px solid #5738dfc9 !important;
}
